*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar-light .navbar-brand{
  color: #565387;
}
.navbar-light .navbar-brand:hover{
  color: #565387;
}
.navbar-light .navbar-brand:focus{
  color: #565387;
}
.menu-active{
  font-weight: bold;
  border-bottom: 1px solid #565387;
  color: #4d48a5;
}
#my-name{
  color: #4d48a5;
}
#btn-about{
  border: 1px solid #4d48a5;
  color: #4d48a5;
  padding: 10px;
  text-decoration: none;
  border-radius: 20px;
}
#btn-about:hover{
  background-color: #4d48a5;
  color: white;
}
#header{
  width: 100%;
  height: 80vh;
  margin-top: 40px;
}
.side-img{
  /* animation-name: floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;  */
    margin-left: 40px; 
    width: 90%;
    /* margin-top: 5px;  */
}
/* @keyframes floating { 
  0% { transform: translate(0,  0px); } 
  50%  { transform: translate(0, 15px); } 
  100%   { transform: translate(0, -0px); }     
} */

/* card section */
.card-image{
  width: 20%;
}
.main-project{
  font-weight: bold;
}
#project-color{
  color: #4d48a5;
}
.main-footer{
  background-color:rgba(0, 0, 0, 0.2);
}
.btn{
  border-color: #4d48a5;
  color: #4d48a5;
}
.btn:hover{
  background-color: #4d48a5;
  color: white;
}
.btn:focus{
  outline: none;
}

/* about section */

.about h1{
  color: #4d48a5;
}
.my_image img{
  width: 15%;
}
.about-me h5{
  font-size: 30px;
  margin: 20px 0;
}
.about-me p{
  font-size: 18px;
  font-weight: 400;
}

/* skills section */
.skills{
  font-size: 20px;
}
.skills .skills-img{
  width: 6%;
}
.span-elements{
  margin-top: 50px;
}
@media only screen and (max-width: 600px) {
  .skills .skills-img{
    width: 12%;
  }
  .skills{
    font-size: 16px;
  }
}
@media only screen and (max-width: 980px) {
  .my_image img{
    width: 30%;
  }
  #header{
    height: 80vh;
    text-align: center;
    margin-top: 20px;
  }
  .side-img{
    width: 50%;
    align-items: center;
    /* margin-left: 25%; */
    margin-right: 10%;
  }
  .text-main{
    text-align: center;
    margin-left: 20%;
    margin-top: 20px;
  }
  .text-main h1{
    font-size: 28px;
  }
  .text-main h2{
    font-size: 18px;
  }
}
@media only screen and (max-width: 550px) {
  .my_image img{
    width: 50%;
  }
  #header{
    margin-top: 10px;
  }
  .text-main h1{
    font-size: 20px;
  }
}
@media only screen and (min-height: 1000px) {
  .main-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}